* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}



/* header */



.header-whole-container {
  width: 100%;
  height: 105px;
  background-color: #4A372A;
  -webkit-box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
position: relative;
z-index: 998;
}

header {
  -webkit-box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
}

.title-padding {
  padding-left: 100px;
}

.header-logo {
  width: 90px;
  float: left;
  height: 105px;
}

.header-title-container {
  width: calc(40%-90px);
  float: left;
  height: 105px;
  color: white;
}

.header-whole-container img {
  width: 100%;
  height: 70px;
  padding-left: 20px;
  padding-top: 15px;
}

.header-title-container h1 {
  padding-top: 18px;
  padding-left: 20px;
  letter-spacing: 1px;
  font-family: "Nunito";


}

.header-title-container h1:hover {
  color: #C6C6C6;
  cursor: pointer;
}

.header-title-container a {
  color: white;
}

.header-title-container a:hover {
  color: #C6C6C6;
}

.header-title-container h4 {
  padding-top: 2px;
  padding-left: 20px;
  font-family: "Nunito";
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
}

.header-menu-container {
  width: 60%;
  float: right;
  height: 105px;
}

.header-menu-container li {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  font-family: "Nunito";
  text-align: center;
  letter-spacing: 1px;
  color: white;
}

.header-menu-container li:hover {
  color: #C6C6C6;
  cursor: pointer;
}

.header-menu-container ul {
  text-align: right;
  padding-top: 42px;
  padding-right: 30px;
}


.header-menu-container a {
  color: white;
}

.header-menu-container a:hover {
  color: #C6C6C6;
}

.header-menu-float {
  width: calc(100% - 100px);
  height: 105px;
  float: left;

}

.header-facebook-float {
  width: 100px;
  float: right;
  height: 105px;
}

.header-facebook-float i {
  padding-top: 42.5px;
}




/* three images */


.header-three-images-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.header-image-container {
  width: 33.3%;
  height: 500px;
}



/* fishing section */

.timber-whole-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

.timber-fishing-boxes {
  width: 100%;
  overflow: auto;
  -webkit-box-shadow: 2px -14px 24px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -14px 24px -21px rgba(0,0,0,0.75);
box-shadow: 2px -14px 24px -21px rgba(0,0,0,0.75);
position: relative;
z-index: 100;
  /*background: url('ripples.png');*/

}

.fishing-title-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #4A372A;
  font-family: "Nunito";
  padding-top: 20px;
  font-size: 35px;
  font-weight: 700;

}

.fishing-description-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito";
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 30px;
  color: #545454;
  line-height: 1.5em;
}


.icon-box {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 80px;
}

.icon-box img {
  width: 60px;
}

.readmore-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito";
  letter-spacing: 4px;
  padding-top: 40px;
  padding-bottom: 100px;
  color: #4A372A;
  text-transform: uppercase;
  font-size: 14px;
}

.readmore-container a {
  color:#4A372A;
}

.readmore-container p:hover {
  cursor: pointer;
  color: black;
}



/*  timber section  */

.timber-whole-container {
  width: 100%;
  overflow: auto;
}

.timber-green-layover {
  height: 100%;
  width: 100%;
  background-color: rgba(74, 55, 42, 0.65);
}


.timber-title-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Nunito";
  padding-top: 20px;
  font-size: 35px;
  font-weight: 700;

}

.timber-description-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito";
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 30px;
  color: white;
  line-height: 1.5em;
}


.timber-readmore-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito";
  letter-spacing: 4px;
  padding-top: 40px;
  padding-bottom: 100px;
  color: #C6C6C6;
  text-transform: uppercase;
  font-size: 14px;
}

.timber-readmore-container a {
  color: #C6C6C6;
}

.timber-readmore-container p:hover {
  cursor: pointer;
  color: white;
}




/* footer */

.footer-whole-container {
  width: 100%;
  overflow-x: auto;
  background-color: #191919;
}

.socialmedia-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  font-size: 20px;
  color: white;
}

.socialmedia-container a {
  color: white;
}

.socialmedia-container i:hover {
  color: #C6C6C6;
  cursor: pointer;
}

.copyright-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito";
  color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  letter-spacing: 1px;
  font-size: 12px;
}

.green {
  color: #C6C6C6;

}

.green:hover {
  color: white;
}



/*  page   */


.page-whole-container {
  width: 100%;
}


.page-content-width {
  width: 70%;
  margin: 0 auto;
}

.page-title-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #4A372A;
  font-family: "Nunito";
  padding-top: 20px;
  font-size: 17px;
  font-weight: 700;
}

.page-content-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  font-family: nunito;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-size: 15px;
  color: #545454;
  padding-bottom: 120px;
}

.page-content-container p {
  padding-bottom: 2em;
}

.page-content-container h3 {
  font-size: 24px;
  color: #4A372A;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

.page-content-container h4 {
  font-size: 20px;
  color: #4A372A;
  margin-top: 2.5em;
  margin-bottom: 2em;
}


.page-content-container table {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.5em;

}

.page-content-container table {
  border-collapse: collapse;
}

.page-content-container td {
  border: solid 1px #4A372A;
  padding: 10px;
}

.wp-block-button__link {
  border-radius: 10px;
  background-color: #4A372A;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

.getintouch-button {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito";
  letter-spacing: 4px;
  padding-top: 40px;
  color: #4A372A;
  text-transform: uppercase;
  font-size: 14px;
}

.getintouch-button a {
  color:#4A372A;
}

.getintouch-button a:hover {
  color: #545454;
}

.getintouch-button i {
  padding-left: 10px;
}

.getintouch-button p:hover {
  cursor: pointer;
  color: #545454;
}



/*  contact information shortcode */

.oakhamfarm-contactinfo-container p {
  line-height: 2em;
}

.oakhamfarm-contactinfo-container i {
  padding-right: 5px;
  color: #4A372A;
}

.oakhamfarm-contactinfo-container a {
  color: #545454;
}

.oakhamfarm-contactinfo-container a:hover {
  color: #4A372A;
}


/*  contact form  */

form {
  width: 85%;
  margin: 0px auto;
  padding-top: 100px;
  padding-bottom: 20px;

}

form input[type=text],[type=email],[type=submit],[type=tel]  {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: solid 1px #D8D8D8;
border-radius: 10px;

}

form textarea {
  width: 100%;
  font-size: 16px;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: solid 1px #D8D8D8;
border-radius: 10px;
height: 200px;
padding: 20px;

}

form label {
  line-height: 2em;
  font-size: 14px;

}


form input[type=text]:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgba(74 ,55 ,42, 0.5);
  border: solid 1px rgba(74 ,55 ,42, 0.5);
}

form input[type=email]:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgba(74 ,55 ,42, 0.5);
  border: solid 1px rgba(74 ,55 ,42, 0.5);
}

form input[type=tel]:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgba(74 ,55 ,42, 0.5);
  border: solid 1px rgba(74 ,55 ,42, 0.5);
}

form input[type=select]:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgba(74 ,55 ,42, 0.5);
  border: solid 1px rgba(74 ,55 ,42, 0.5);
}

form textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgba(74 ,55 ,42, 0.5);
  border: solid 1px rgba(74 ,55 ,42, 0.5);
}



form input[type=submit] {
  background-color: #4A372A;
  color: white;
}

form input[type=submit]:focus {
  outline: none !important;
  box-shadow: 0 0 10px white;
  border: solid 1px white;
}

.wpcf7-response-output {
  border: none!important;
}

form select {
  width: 100%;
  height: 60px;
  font-family: "poppins";
  font-size: 15px;
  background-color: white;
  border: solid 1px #D8D8D8;

}

.wpcf7-form div {
  margin-bottom: 2em;
}



form input[type=checkbox] {
  padding-top: 200px!important;
}

form select {
  padding: 10px;
  font-family: nunito;
  border-radius: 10px;
}

form select:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgba(74 ,55 ,42, 0.5);
  border: solid 1px rgba(74 ,55 ,42, 0.5);
}

.wpcf7-list-item {
  padding-top: 20px;
}

form a {
  color: #4A372A;
}

form a:hover {
  color: black;
}


/* ipad  */

@media only screen and (max-width: 1100px) and (min-width: 550px) {

.header-menu-float ul {
  display: none;
}

.mobile-menu-button-container {
  width: 100%;
  height: 90px;
  text-align: center;
  font-family: nunito;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
}

.mobile-menu-button-container p {
  padding-top: 32px;
}

.mobile-menu-button-container p:hover {
  color: #4A372A;
}

.mobile-menu-container li {
  text-align: center;
  font-family: nunito;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 15px;
  font-size: 19px;
}

.mobile-menu-container ul {
  padding-bottom: 30px;
}

.header-menu-float  i {
  padding-top: 41px;
  text-align: right;
  float: right;
  padding-right: 20px;
  font-size: 22px;
  color: white;
}

.mobile-menu-whole-container {
  position: absolute;
  z-index: 999;
  width: 0px;
  height: 100%;
  background-color: #4A372A;
  right: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.mobilemenu-open {
  position: absolute;
  z-index: 999;
  width: 350px;
  height: 100%;
  background-color: #4A372A;
  right: 0;
  transition: all .3s ease-in-out;
}

/*.mobile-menu-title-container {
  width: 80%;
  margin: 0 auto;
  font-family: nunito;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 20px;
}*/

.mobile-menu-title-container{
  width:80%;
  margin: 0 auto;
  font-family: nunito;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  padding-top: 35px;
}

.mobile-menu-title {
  float: left;
}

.mobile-menu-close {
  width: 20%;
  float: right;
  text-align: right;
}

.mobile-menu-title p {
  padding-left: 20px;
}

.mobile-menu-close p {
  padding-right: 20px;
}

.mobile-menu-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 90px;
}

.mobile-menu-container li {
  color: white;
  text-align: left;
  list-style-type: none;

}

.mobile-menu-container a {
  color: white;
}

.fixedposition {
  position: fixed;
}

.header-menu-float {
  width: 0%;
}

.header-facebook-float {
  width: 100%;
  text-align: right;
  padding-right: 30px;

}


.header-facebook-float i {
  padding-right: 20px;
  color: white;
  font-size: 20px;
}


.header-menu-container {
  width: 20%
}

.fishing-description-container {
  width: 70%;
}

.timber-title-container {
  width: 75%;
}

.fishing-title-container {
  width: 75%;
}

.timber-description-container {
  width: 70%;
}

.page-content-container {
  width: 100%;
}

.getintouch-button {
  width: 90%;
}

.smallermenu-button-container {
  display: none;
}

.smallermenu-menu-container {
  display: none;
}

.header-facebook-float {
  cursor: pointer;
}

.header-facebook-float i:hover {
  color: #C6C6C6;
}

.mobile-menu-close:hover {
  cursor: pointer;
  color: #C6C6C6;
}

.mobile-menu-container a:hover {
  cursor: pointer;
  color: #C6C6C6;
}



}



@media only screen and (max-width: 550px) {

  .header-title-container h4 {

  }

  .mobile-menu-whole-container {
    display: none;
  }

  .header-facebook-float {
    display: none;
  }

  .header-menu-container {
    display: none;
  }

  .header-whole-container {
    height: 130px;
  }

  .header-logo img {
    padding-top: 25px;
  }

  .smallermenu-button-container {
    width: 100%;
    height: 80px;
  }

  .smallmenu-button {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: nunito;
    letter-spacing: 1px;
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 20px;
  }

  .smallmenu-button:hover {
    cursor: pointer;
    color: #4A372A;
  }

  .smallermenu-menu-container {
    width: 100%;
    text-align: center;
    font-family: nunito;
    letter-spacing: 1px;
    font-size: 18px;
    height: 0px;
    transition: all .3s ease-in-out;
    background-color: #4A372A;
    -webkit-box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);
  box-shadow: 2px 9px 24px -21px rgba(0,0,0,0.75);

  }

  .smallermenu-menu-container-open {
    height: 220px;
    transition: all .3s ease-in-out;
  }

  .smallermenu-menu-container li {
    color: white;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  .smallermenu-menu-container a:hover {
    cursor: pointer;
    color: #4A372A;
  }

  .smallermenu-menu-container ul {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .smallermenu-menu-container a {
    color: white;
  }

  .facebook-icon-mobile i {
    padding-bottom: 30px;
  }

  .header-three-images-container {
    flex-wrap: wrap;
    overflow: auto;
    height: auto;
  }

  .header-image-container {
    width: 100%;
    height: 300px;
  }

  .fishing-description-container {
    width: 80%;
  }

  .fishing-title-container {
    width: 75%;
  }

  .timber-title-container {
    width: 75%;
  }

  .timber-description-container {
    width: 80%;
  }

  .page-content-container {
    width: 100%;
  }

  .getintouch-button {
    width: 90%;
  }

  .header-title-container {
    padding-top: 10px;
  }

  .header-title-container h4 {
    width: 90%;
  }

  .header-mobile-float {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    

  }



}


@media only screen and (min-width: 1101px) {

.smallermenu-button-container {
  display: none;
}

.smallermenu-menu-container {
  display: none;
}

.mobile-menu-whole-container {
  display: none;
}

.fa-bars {
  display: none;
}

}
